.container {
    height: 100%;
    width: 100%;
    position: relative;
    color: #000000 !important;
}

#edit-pig-form {
    border-style: solid;
    border-color: black;
    border-width: 5px
}

#pigs-table-container {
    width: 100%;
    text-align: center;
}
.main-container {
    position: relative;
    display: flex;
    margin: 3em;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.pen-container {
    font-size: 12px;
    width: 20em;
    height: 20em;
    border-bottom: 5px solid #c6c8b5;
    box-shadow: 1px 1px 3px 3px #c7c7c7;
    border-radius: 1em;
    margin: 1em;
    background-color: #ffffff;
    transition-duration: 3s
}

.pen-container:hover {
    transform: scale(1.05);
}

#pen-id {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
